doctype html
html(lang='en')
  head
    title AdminList
    link(rel='stylesheet', href='https://cdn.staticfile.org/twitter-bootstrap/4.1.2/css/bootstrap.min.css')
    script(src='https://cdn.staticfile.org/twitter-bootstrap/4.1.2/js/bootstrap.min.js')
  body
    .row
      .col-4
        #list-tab.list-group(role='tablist')
          a.list-group-item.list-group-item-action(data-toggle='list', href='#list-home', role='tab') Home
          a.list-group-item.list-group-item-action(data-toggle='list', href='#list-profile', role='tab') Profile
          a.list-group-item.list-group-item-action(data-toggle='list', href='#list-messages', role='tab') Messages
          a.list-group-item.list-group-item-action(data-toggle='list', href='#list-settings', role='tab') Settings
      .col-8
        #nav-tabContent.tab-content
          .tab-pane.fade(role='tabpanel') 简介1
          .tab-pane.fade(role='tabpanel') 简介2
          .tab-pane.fade(role='tabpanel') 简介3
          .tab-pane.fade(role='tabpanel') 简介4
