
    #notificationModal.modal.fade(role='dialog')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#notificationModalLabel.modal-title New message
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
              .form-group
                label.col-form-label(for='recipient-name') Recipient:
                input#adminId(type="hidden")
                input#recipient_realname.form-control(type='text' readonly="")
              .form-group
                label.col-form-label(for='message-text') Content:
                textarea#content_text.form-control
          .modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button' onclick="send_notification") Send message
