/exceptions-file.log
/filelog-error.log.yyyy-11-Fr.
/filelog-error.log.yyyy-11-Th.
/filelog-error.log.yyyy-11-We.
/filelog-info.log.yyyy-11-Fr.
/filelog-info.log.yyyy-11-Th.
/filelog-info.log.yyyy-11-We.
