extends layout-blank

block content
    section#login-container
        .row
            #login-wrapper.col-md-3
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title
                            | 后台初始化
                    .panel-body
                        form(role='form', action='#{adminDir}/initialization', method='post')
                            .form-group
                                label(for='admin_nick_input') 超级管理员
                                input#admin_nick_input.form-control(type='text', name='username', placeholder='请输入管理员用户名', autofocus)
                            .form-group
                                label(for='admin_nick_input') 密码
                                input#admin_pwd_input.form-control(type='password', name='password', placeholder='请输入密码')
                            .form-group
                                label(for='admin_realname_input') 姓名
                                input#admin_realname_input.form-control(type='text', name='name', placeholder='请输入姓名')
                            input(type='hidden', name='_csrf', value='#{token}')
                            button.btn.btn-primary.btn-block(type='button') 提交

